// :copyright: Copyright (c) 2018 ftrack
$navigation-drawer-desktop-width: 22.4 * $unit !default;
$navigation-drawer-max-desktop-width: 22.4 * $unit !default;
$appbar-height: 4.8 * $unit !default;
$font-size-xtiny: 10px !default;

// Set list divider height in pixels to avoid rounding issues with font-size zoom.
$list-divider-height: 1px;

// Snackbar background color
$snackbar-background-color: #1F2327;
