
.example-container {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.example-component {
    flex: 1;
    padding: $spacing;
    overflow-y: auto;
}

.actions {
    margin-top: $spacing;
    background: rgba(0,0,0,0.1);
    padding: $spacing;
    text-align: right;

    > button {
        margin-left: $spacing;
    }
}
